@model Vidly.Models.CustomerMembershipType
@{
    ViewBag.Title = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer Info</h2>

@using (Html.BeginForm("Edit", "Customer"))
{
    <div class="form-group">
    @Html.LabelFor(m => m.Customer.Name)
    @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Membership_Type)
    @Html.DropDownListFor(m => m.Customer.Membership_Type, new SelectList(Model.MembershipTypes, "Name", "Name"), "Select Membership Type", new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.DOB)
    @Html.TextBoxFor(m => m.Customer.DOB, "{0:dd MM yyyy}", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Customer.DOB)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Address)
    @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Customer.Phone)
    @Html.TextBoxFor(m => m.Customer.Phone, new { @class = "form-control" })
</div>
    
    @Html.HiddenFor(m=>m.Customer.Id)
<button type="submit" class="btn btn-primary">Update</button>
    }


